{{ $featured_image := .Param "featured_image"}}
{{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
{{ $featured_image := (trim $featured_image "/") | absURL }}
<header class="cover bg-top" style="background-image: url('{{ $featured_image }}'); background-position: center">
  <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-50" }}">
    {{ partialCached "site-navigation.html" .}}
    <div class="tc-l pv1 pv2-l ph3 ph4-ns">
      <h1 class="f2 f1-l white-90 tl">
        {{ .Title | default .Site.Title }}
      </h1>
      {{ with .Param "description" }}
        <h2 class="fw3 fw3-l f5 f3-l white measure-wide-l mt3 mb4 tl">
          {{ . }}
        </h2>
      {{ end }}
    </div>
  </div>
</header>
